<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1 th:text="#{app.user-details}">Details</h1>
<table>
    <tr>
        <th th:text="#{user.id}"/></th>
        <th th:text="#{user.name}"></th>
        <th th:text="#{user.nick}"></th>
        <th th:text="#{user.password}"></th>

    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.nick}">Username</td>
        <td th:text="${user.password}">Password</td>

    </tr>
</table>
<a href="#" th:href="@{/create-user}" th:text="#{user.add-more-users}">Add User</a>
</body>
</html>